.body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #fef3c7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
}

.headerLink {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    gap: 0.5rem;
}

.navLink {
    composes: link from "./HomePage.module.css";
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}