.container {
    min-height: 100vh;
    background-color: #fef3c7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #c6b986;
    padding: 4px 8px;
    margin-bottom: 4px;
}

.headerLink {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 0.5rem;
}

.navLink {
    composes: link from "./HomePage.module.css";
}

.main {
    display: grid;
    justify-items: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;
}