.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.heroImg {
    display: block;
    width: 250px;
}

.heroPara {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.link {
    background-color: #f59e0b;
    color: black;
    font-weight: bold;
    padding: 2px 8px;
    text-decoration: none;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0);
}