.postCard {
    padding: 8px 12px;
    margin: 0 8px;
    border-radius: 1rem;
    background-color: #ffea94;
    border: solid 1px #c6b986;
}

.heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
}

.postList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.title {
    line-height: 1.3;
    font-size: 1.3rem;
    text-wrap: auto;
    margin-bottom: 4px;
}